# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# PyCharm
.idea/