Flask==3.0.3
Flask_SQLAlchemy==3.1.1
pymongo
Flask-PyMongo
gunicorn==21.2.0
python-dotenv
flask_cors
scikit-learn
pandas
numpy
chatbot_utils

langchain-google-genai
openpyxl
langchain 
langchain-community 
faiss-cpu 
pypdf
docx2txt
base64
python-docx
motor
fastapi
email_validator
python-multipart
argon2-cffi
PyJWT
langchain_anthropic
chardet